#container {
    background-color: gray;
    padding: 20px;
    width: 90%;
}

#tree_wrapper,
#code_wrapper {
    float: left;
    padding: 20px;
    width: 45%;
}

#code {
    width: 100%;
}

.button_wrapper {
    align-content: center;
    text-align: center;
}