span.drag-source {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px;
    background-color: silver
}

#container {
    background-color: gray;
    padding: 20px;
    width: 90%;
}

#treeWrapper,
#codeWrapper {
    float: left;
    padding: 20px;
    width: 45%;
}

#code {
    width: 100%;
}

.buttonWrapper {
    align-content: center;
    text-align: center;
}

#codeText {
    min-height: 400px;
    min-width: 100%;
    height: 100%;
    width: 100%;
}

.editNode {
    width: auto;
}

#statusLine {
    white-space: pre-wrap;
}

#newNode {
    text-align: center;
    padding: 20px;
    background-color: lightgreen;
    border: 1px solid black;
    display: none;
}

#newNode.div {
    padding: 20px;
}

#statusLine,
#jsonGenerate,
#yamlGenerate {
    padding: 20px;
    background-color: lightgrey;
    display: none;
}

#debug {
    display: none;
}

.debugHeader {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: lightseagreen;
}

#debugTitle {
    padding-top: 20px;
}

#copy {
    float: right;
    position: relative;
    top: 37px;
    left: 4px;
}

button {
    padding: 5px 10px 5px 10px;
    margin: 0px;
    border: 1px #999 dashed;
    color: grey;
    background-color: lightgrey;
}

button:hover {
    border: 1px black solid;
    color: black;
    background-color: #999;
}